<!-- LIST ORDER SECTION BEGIN -->
<section class="table-list-order mb-5">
    <div class="sub-tree d-flex mt-3">
        <a href="#">
            <p class="fw-bold">Dashboard</p>
        </a>
        <i class="fa fa-solid fa-chevron-right mx-2"></i>
        <p>Dashboard</p>
    </div>

    <h2 class="fw-bold mb-4 mt-4">Dashboard</h2>
    <h3 class="border-left-blue ps-2">list order</h3>

    <table id="datatable" class="table bg-light">
        <thead class="tabel-head">
            <tr>
                <th class="text-center">No</th>
                <th>User Email <img src="/icons/Sort_Icon.png"></th>
                <th>Car <img src="/icons/Sort_Icon.png"></th>
                <th>Start Rent <img src="/icons/Sort_Icon.png"></th>
                <th>Finish Rent <img src="/icons/Sort_Icon.png"></th>
                <th>Price <img src="/icons/Sort_Icon.png"></th>
                <th>Satus <img src="/icons/Sort_Icon.png"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">4</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">5</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">6</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">7</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">8</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">9</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
            <tr>
                <td class="text-center">10</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Satus</td>
            </tr>
        </tbody>
    </table>

    <div class="row ">
        <div class="col-lg-1 col-md-2 col">
            <p>Limit</p>
            <select class="form-select d-inline" aria-label="Default select example">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="40">40</option>
            </select>
        </div>

        <div class="col-lg-2 col-md-4 col">
            <p>Jump to page</p>
            <select class="form-select d-inline" aria-label="Default select example">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>

            <button type="button" class="btn btn-primary btn-go">Go</button>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12 d-flex justify-content-end">
            <div class="page-number">
                <nav class="page-menu pt-4" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

</section>
<!-- LIST ORDER SECTION END -->



<!-- LIST CAR SECTION BEGIN -->
<section class="table-list-car mb-5">
    <h3 class="border-left-blue ps-2">list car</h3>

    <table id="datatable" class="table bg-light">
        <thead class="tabel-head">
            <tr>
                <th class="text-center">No</th>
                <th>Name <img src="/icons/Sort_Icon.png"></th>
                <th>Category <img src="/icons/Sort_Icon.png"></th>
                <th>Price <img src="/icons/Sort_Icon.png"></th>
                <th>Start Rent <img src="/icons/Sort_Icon.png"></th>
                <th>Finish Rent <img src="/icons/Sort_Icon.png"></th>
                <th>Created at <img src="/icons/Sort_Icon.png"></th>
                <th>Updated at <img src="/icons/Sort_Icon.png"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">4</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">5</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">6</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">7</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">8</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">9</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>
            <tr>
                <td class="text-center">10</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Created at</td>
                <td>Updated at</td>
            </tr>

        </tbody>
    </table>

    <div class="row mb-5">
        <div class="col-lg-1 col-md-2 col">
            <p>Limit</p>
            <select class="form-select d-inline" aria-label="Default select example">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="40">40</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-4 col">
            <p>Jump to page</p>
            <select class="form-select d-inline" aria-label="Default select example">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>

            <button type="button" class="btn btn-primary btn-go">Go</button>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12 d-flex justify-content-end">
            <div class="page-number">
                <nav class="page-menu pt-4" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- LIST CAR SECTION END -->