<!-- ALERT SAVE SUCCESS BEGIN -->
<div class="d-flex justify-content-center">
    <div id="alert-save">
        <div class="alert fade show text-center save-box">
            <strong>Data Berhasil Disimpan</strong>
        </div>
    </div>
</div>
<!-- ALERT SAVE SUCCESS END -->


<!-- ALERT DELETE SUCCESS BEGIN -->
<div class="d-flex justify-content-center">
    <div id="alert-delete">
        <div class="alert fade show text-center delete-box">
            <strong>Data Berhasil Dihapus</strong>
        </div>
    </div>
</div>
<!-- ALERT DELETE SUCCESS END -->


<!-- LIST CAR BEGIN -->
<section class="list-car">
    <div class="sub-tree d-flex mt-3">
        <a href="#">
            <p class="fw-bold">Cars</p>
        </a>
        <i class="fa fa-solid fa-chevron-right mx-2"></i>
        <p>List Car</p>
    </div>

    <div class="list-button">
        <h2 class="fw-bold mb-4 mt-4">List Car</h2>
        <div class="button-right">
            <a href="/cars/add-new-car">
                <button type="button" class="btn btn-primary add-btn">
                    <img src="/icons/Plus_Icon.png"> Add New Car
                </button>
            </a>
        </div>
    </div>

    <div class="btn-group mt-2 mb-4" aria-label="Basic example">
        <button type="button" class="btn btn-sort">All</button>
        <button type="button" class="btn btn-sort">Small</button>
        <button type="button" class="btn btn-sort">Medium</button>
        <button type="button" class="btn btn-sort">Large</button>
    </div>

    <div class="row">
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mt-5 p-0 d-flex justify-content-center">
            <div class="card-list">
                <div class="car-img">
                    <img src="/images/Car_Image.png" class="car-size" alt="car">
                </div>
                <p class="m-0">Nama/Tipe Mobil</p>
                <h5 class="mt-2 mb-3 fw-bold">Rp 430.000 / hari</h5>
                <p class="font-weight-light"><img src="/icons/Key_Icon.png" class="pe-2">Start rent - Finish
                    rent</p>
                <p class="font-weight-light mb-4"><img src="/icons/Clock_Icon.png" class="pe-2">Updated at 4
                    Apr 2022, 09.00</p>

                <div class="d-flex justify-content-center">
                    <a href="#popup-box">
                        <button type="button" class="btn border border-2 border-danger rounded-2 me-3 delete-btn">
                            <img src="/icons/Trash_Icon.png" class="pe-2">Delete
                        </button>
                    </a>
                    <a href="/cars/edit-car">
                        <button type="button" class="btn btn-success edit-btn">
                            <img src="/icons/Edit_Icon.png" class="pe-2">Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- LIST CAR END -->

<!-- POPUP BEGIN -->
<div id="popup-box" class="overlay">
    <div class="popup text-center">
        <img src="/images/Car_Driving_llustration.png" width="153" alt="">
        <h5>Menghapus Data Mobil</h5>
        <div class="content">
            Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="/cars">
                <button type="button" class="btn btn-popup-yes mx-2">Ya</button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-popup-no mx-2">Tidak</button>
            </a>
        </div>
    </div>
</div>
<!-- POPUP END -->